body {
    background-image: url("../images/old_moon.png");
}
header {
    background-color: white;
    height: 110px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}
.name-h1-styling {
    background-color: #4aaaa5;
    color: white;
    height: 110px;
    font-size: 40px;
    line-height: 110px;
}
a {
    text-decoration: none;
    color: inherit;
}
h2 {
    color: #4aaaa5;
    margin-top: 10px;
    font-size: 38px;
}
.nav-item {
    list-style-type: none;
    padding: 0 20px;
    color: #9f9c9c;
}
.nav-item-divider-border {
    border-right: 1px solid #e1d8d8;
}
.nav-item-wrapper {
    display: inline-block;
    float: right;
    line-height: 110px;
}
.profile-pic {
    width: 240px;
    height: 320px;
    float: left;
}
p {
    color: #605f5f;
}
.background-style {
    background-color: white;
    border: 1px solid lightgray;
}
.connection-pane {
    height: 225px;
}
.connection-content {
    text-align: center;
}
hr {
    height: 2px;
    background-color: #9e9c9c;
    opacity: 0.25; 
}
.footer {
    background-color: #666666;
    border-top: 7px solid #4aaaa5;
    height: 80px;
    color: white;
    position: absolute;
    bottom: -700px; 
    /* bottom needs changed when adding new rows of images - add another 200px */
    z-index: 100;
    margin-top: 200px;
}
.portfolio-images {
    width: 270px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}
.image-label {
    z-index: 5;
    margin-top: -50px;
    width: 270px;
    height: 50px;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    position: absolute;
    bottom: 16px;
}
.input-box-style {
    border-color: #d5cece;
    border-radius: 10px;
}
.submit-button {
    color: white;
    background-color: #4aaaa5;
    border-radius: 2px;
    /*padding: 5px 20px; */
}
